.counter-repeater {
    padding: var(--section-padding-mobile, 40px) 0;

    @include min-md {
        padding: var(--section-padding-desktop, 40px) 0;
    }

    .row {
        row-gap: 20px;
    }

    .box {
        .box__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }
}

/* 4 Boxes with Counter style END */