/*Single page Start*/

.site-single {
    .content {
        padding: 40px 0;

        .wp-post-image {
            display: inline-block;
            width: 30%;
            @include sm {
                width: 40%;
            }
        }

        &.has-post-thumbnail .wp-post-image {
            float: right;
            margin-left: 20px;
             @include sm {
                margin-left: 12px;
            }
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*Single page END*/
