/* Fonts START*/

/* =========================
   TYPOGRAPHY SYSTEM
========================= */

:root {
    /* Mobile (default) */
    --fs-h1: 32px;
    --fs-h2: 28px;
    --fs-h3: 24px;
    --fs-h4: 20px;
    --fs-h5: 18px;
    --fs-h6: 16px;
}

/* Tablet */
@include min-sm {
    :root {
        --fs-h1: 40px;
        --fs-h2: 34px;
        --fs-h3: 28px;
        --fs-h4: 24px;
        --fs-h5: 20px;
        --fs-h6: 18px;
    }
}

/* Desktop */
@include min-md {
    :root {
        --fs-h1: 48px;
        --fs-h2: 40px;
        --fs-h3: 32px;
        --fs-h4: 28px;
        --fs-h5: 24px;
        --fs-h6: 20px;
    }
}

/* Apply globally */
h1, .h1 { font-size: var(--fs-h1); }
h2, .h2 { font-size: var(--fs-h2); }
h3, .h3 { font-size: var(--fs-h3); }
h4, .h4 { font-size: var(--fs-h4); }
h5, .h5 { font-size: var(--fs-h5); }
h6, .h6 { font-size: var(--fs-h6); }

/* =========================
   MONTSERRAT FONT SYSTEM
========================= */
/* Light */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/Montserrat-Light.woff") format("woff");
}

/* Regular */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/Montserrat-Regular.woff") format("woff");
}

/* Medium */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat-Medium.woff") format("woff");
}

/* SemiBold */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

/* Bold */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat-Bold.woff") format("woff");
}

/* ExtraBold */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
         url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

/* Black */
@font-face {
    font-family: "base-theme";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
         url("../fonts/Montserrat-Black.woff") format("woff");
}
/* Fonts END*/